@model Genrev.Web.App.Customers.Models.EditIndustryVM

<h3>Edit Customer Type (@Model.Name)</h3>

@Html.HiddenFor(m => m.ID)

@Html.DevExpress().TextBox(
    s => {
        s.Name = "CustomerIndustryEditName";
        s.Properties.Caption = "Type";
        s.Properties.CaptionCellStyle.Width = 100;
        s.Properties.CaptionStyle.CssClass = "label-required";
    }
).Bind(Model.Name).GetHtml()

<div class="clearfix spacer-10"></div>
<div style="float:left;">
    @Html.DevExpress().Button(s => { s.Name = "CustomerIndustryDeleteButton"; s.Text = "Delete"; s.ControlStyle.ForeColor = System.Drawing.Color.Red; }).GetHtml()
</div>

<table style="float: right;">
    <tr>
        <td>
            @Html.DevExpress().Button(s => { s.Name = "CustomerIndustryEditOkButton"; s.Text = "OK"; }).GetHtml()
        </td>
        <td style="padding-left: 5px;">
            @Html.DevExpress().Button(s => { s.Name = "CustomerIndustryEditCancelButton"; s.Text = "Cancel"; }).GetHtml()
        </td>
    </tr>
</table>


