@model Genrev.Web.App.Subscription.Models.GeneralVM

@{ 
    string uip = ViewBag.UIPrefix;
}



    <h2>General Account Information</h2>

    <p>Welcome to GENREV!  Here you can review and set your core account information.</p>

    @using (@Html.BeginForm(null, null, FormMethod.Post, new { id = uip + "MainForm" })) {


        <div class="datacontent-subsection">
            <h3>Account Info</h3>

            @Html.DevExpress().TextBox(
                  s => {
                      s.Name = "AccountStatusText";
                      s.Properties.Caption = "Account Status";
                      s.Properties.CaptionCellStyle.Width = 100;
                      s.Enabled = false;
                  }
              ).Bind(Model.AccountStatusText).GetHtml()


            @Html.DevExpress().TextBox(
                  s => {
                      s.Name = "MasterEmail";
                      s.Properties.Caption = "Email";
                      s.Properties.CaptionCellStyle.Width = 100;
                      s.Enabled = false;
                  }
              ).Bind(Model.MasterEmail).GetHtml()

        </div>

        <div class="datacontent-subsection">
            <h3>Company Info</h3>

            @Html.DevExpress().TextBox(
                  s => {
                      s.Name = "CompanyFullName";
                      s.Properties.Caption = "Full Name";
                      s.Properties.CaptionCellStyle.Width = 100;
                  }
              ).Bind(Model.CompanyFullName).GetHtml()

            @Html.DevExpress().TextBox(
                  s => {
                      s.Name = "CompanyName";
                      s.Properties.Caption = "Name";
                      s.Properties.CaptionCellStyle.Width = 100;
                  }
              ).Bind(Model.CompanyName).GetHtml()


            @Html.DevExpress().TextBox(
                  s => {
                      s.Name = "CompanyCode";
                      s.Properties.Caption = "Code";
                      s.Properties.CaptionCellStyle.Width = 100;
                  }
              ).Bind(Model.CompanyCode).GetHtml()

        </div>

        <div class="datacontent-subsection">
            <h3>Contact Info</h3>

            @Html.DevExpress().TextBox(
                  s => {
                      s.Name = "ContactFirstName";
                      s.Properties.Caption = "First Name";
                      s.Properties.CaptionCellStyle.Width = 100;
                  }
              ).Bind(Model.ContactFirstName).GetHtml()

            @Html.DevExpress().TextBox(
                  s => {
                      s.Name = "ContactLastName";
                      s.Properties.Caption = "Last Name";
                      s.Properties.CaptionCellStyle.Width = 100;
                  }
              ).Bind(Model.ContactLastName).GetHtml()

        </div>


        <div class="datacontent-subsection spacer-10">
            
            <div style="width: 275px; text-align: right;">
                @Html.DevExpress().Button(s => {
               s.Name = uip + "SaveButton";
               s.Text = "Save Changes";
           }).GetHtml()
            </div>
            

        </div>


    }




<script type="text/javascript" id="dxss_2035721083562013985290">Subscription.General.Init('@ViewBag.UIPrefix');</script>






